.DS_Store
.idea*
*.pdf
*.jpg
*.png
*.pyc
*.py.bak
*.pem
*.ckpt
awstransfer.sh
Data/Models/*
logs/*
Data/MachineTranslation
source.txt
data_loader_old.py
connect.sh
sample.sh
tensorboard.sh
Data/tb_summaries/*
Data/*.txt
dump/*
Data/translator_model/*